  <!DOCTYPE html>
 
 <html>
 
 <head>
  <title>
    About
  </title>
  <link rel="icon" href="/img/weather.png">
 <link rel="stylesheet" href="/css/styles.css">

 
 </script>
 
 </head>
 
 <body>
  <div class="main-content">
 {{>header}} 
 <!-- <h1> {{title}}</h1>   <!-- injecting the values from the handler bars from the app.js -->
  <img src ="/img/profile.jpg">
    
  </div>

	    {{>footer}}
 </body>
 
 </html>