  <!DOCTYPE html>
 
 <html>
 
 <head>
 <title>
   Help
 </title>
 <link rel="icon" href="/img/weather.png">
 <link rel="stylesheet" href="/css/styles.css">

 
 </script>
 
 </head>
 
 <body>
 <div class="main-content">
   {{>header}}  <!-- adding the partial ->
  <h1> {{contactNumber}}</h1>   <!-- injecting the values from the handler bars from the app.js -->
  
     <p> {{contactEmail}}</p> 

 </div>


	     {{>footer}}
 </body>
 
 </html>